layout {
    gaps 16
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // ─────── Tema Horus Project — "Horus" (derivada del wallpaper) ───────
    focus-ring {
        width 4
        active-color   "#7a2be8"
        inactive-color "#482a92"
        urgent-color   "#f5567a"
    }

    border {
        off
        width 2
        active-color   "#7a2be8"
        inactive-color "#482a92"
        urgent-color   "#f5567a"
    }

    tab-indicator {
        active-color   "#7a2be8"
        inactive-color "#482a92"
        urgent-color   "#f5567a"
    }

    insert-hint {
        gradient from="#7a2be880" to="#b340e080" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#07021099"
    }
    // ───────────────────────────────────────────────────────────────

    struts {}
}
